In [26]:
import pandas as pd
import numpy as np
import pickle
from collections import Counter

In [69]:
attr1 = pd.read_csv('../Data/attr1.csv')

In [70]:
attr2 = pd.read_csv('../Data/attr2.csv')

In [71]:
attr3 = pd.read_csv('../Data/attr3.csv')

In [72]:
attr4 = pd.read_csv('../Data/attr4.csv')

In [73]:
attr5 = pd.read_csv('../Data/attr5.csv')

In [74]:
attr6 = pd.read_csv('../Data/attr6.csv')

In [75]:
attr7 = pd.read_csv('../Data/attr7.csv')

In [76]:
attr8 = pd.read_csv('../Data/attr8.csv')

In [77]:
attr9 = pd.read_csv('../Data/attr9.csv')

In [78]:
attr10 = pd.read_csv('../Data/attr10.csv')

In [14]:
print(len(attr1), len(attr2), len(attr3), len(attr4), len(attr5), len(attr6), len(attr7), len(attr8), len(attr9), len(attr10))

15793815 15791764 15788618 15794035 15797123 15787436 15788647 15789406 15793444 12120624

In [97]:
attr1 = attr1.dropna()
attr2 = attr2.dropna()
attr3 = attr3.dropna()
attr4 = attr4.dropna()
attr5 = attr5.dropna()
attr6 = attr6.dropna()
attr7 = attr7.dropna()
attr8 = attr8.dropna()
attr9 = attr9.dropna()
attr10 = attr10.dropna()

In [98]:
print(len(attr1), len(attr2), len(attr3), len(attr4), len(attr5), len(attr6), len(attr7), len(attr8), len(attr9), len(attr10))

14916021 14915926 14917362 14914832 14915184 14914285 14915479 14911383 14916978 11450055

In [107]:
attr1 = attr1.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr2 = attr2.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr3 = attr3.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr4 = attr4.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr5 = attr5.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr6 = attr6.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr7 = attr7.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr8 = attr8.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr9 = attr9.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})
attr10 = attr10.rename(columns={' attribute':'attribute', ' attribute_value':'attribute_value',' user_id_hash':'user_id_hash'})

In [122]:
attr1.head()

,session_id,attribute,attribute_value,user_id_hash
0,2201961907282901522,0,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,2201961907282901522,3,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,29.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [119]:
attr1.session_id = attr1.session_id.astype(np.uint64)
attr1.attribute = attr1.attribute.astype('category')
attr1.attribute_value = attr1.attribute_value.astype(np.float16)

attr2.session_id = attr2.session_id.astype(np.uint64)
attr2.attribute = attr2.attribute.astype('category')
attr2.attribute_value = attr2.attribute_value.astype(np.float16)

attr3.session_id = attr3.session_id.astype(np.uint64)
attr3.attribute = attr3.attribute.astype('category')
attr3.attribute_value = attr3.attribute_value.astype(np.float16)

attr4.session_id = attr4.session_id.astype(np.uint64)
attr4.attribute = attr4.attribute.astype('category')
attr4.attribute_value = attr4.attribute_value.astype(np.float16)

attr5.session_id = attr5.session_id.astype(np.uint64)
attr5.attribute = attr5.attribute.astype('category')
attr5.attribute_value = attr5.attribute_value.astype(np.float16)

attr6.session_id = attr6.session_id.astype(np.uint64)
attr6.attribute = attr6.attribute.astype('category')
attr6.attribute_value = attr6.attribute_value.astype(np.float16)

attr7.session_id = attr7.session_id.astype(np.uint64)
attr7.attribute = attr7.attribute.astype('category')
attr7.attribute_value = attr7.attribute_value.astype(np.float16)

attr8.session_id = attr8.session_id.astype(np.uint64)
attr8.attribute = attr8.attribute.astype('category')
attr8.attribute_value = attr8.attribute_value.astype(np.float16)

attr9.session_id = attr9.session_id.astype(np.uint64)
attr9.attribute = attr9.attribute.astype('category')
attr9.attribute_value = attr9.attribute_value.astype(np.float16)

attr10.session_id = attr10.session_id.astype(np.uint64)
attr10.attribute = attr10.attribute.astype('category')
attr10.attribute_value = attr10.attribute_value.astype(np.float16)

In [123]:
attr1 = attr1.reset_index(drop=True)
attr2 = attr2.reset_index(drop=True)
attr3 = attr3.reset_index(drop=True)
attr4 = attr4.reset_index(drop=True)
attr5 = attr5.reset_index(drop=True)
attr6 = attr6.reset_index(drop=True)
attr7 = attr7.reset_index(drop=True)
attr8 = attr8.reset_index(drop=True)
attr9 = attr9.reset_index(drop=True)
attr10 = attr10.reset_index(drop=True)

In [127]:
attr10.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11450055 entries, 0 to 11450054
Data columns (total 4 columns):
session_id         uint64
attribute          category
attribute_value    float16
user_id_hash       object
dtypes: category(1), float16(1), object(1), uint64(1)
memory usage: 1.4 GB

In [128]:
attr = pd.concat([attr1, attr2, attr3, attr4, attr5, attr6, attr7, attr8, attr9, attr10], ignore_index=True)

In [129]:
len(attr)

145687505

In [131]:
attr.head()

,session_id,attribute,attribute_value,user_id_hash
0,2201961907282901522,0,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,2201961907282901522,3,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,29.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [132]:
attr.to_csv('../Data/attr.csv', index=False)

In [133]:
attrs = pd.read_csv('../Data/attr.csv')

In [134]:
len(attrs)

145687505

In [135]:
attrs.head()

,session_id,attribute,attribute_value,user_id_hash
0,2201961907282901522,0,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1,1.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,2201961907282901522,3,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,29.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...