In [1]:
import numpy as np
import pandas as pd
import pickle

## sessions

In [2]:
sessions = pd.read_csv('../Data/sessions.csv')

In [3]:
sessions.head()

,app_id,session_id,start_timestamp,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,is_session,is_developer,...,country,region,city,latitude,longitude,locale,os_name,session_index,device_id,user_id_hash
0,4724682771660800,5558845121177764917,1542215364580,Asia/Manila,28800000.0,25837591,1538874289458,False,True,False,...,PH,00,makati,14.554729,121.024445,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,4724682771660800,2201961907282901522,1543712977293,Asia/Manila,28800000.0,35050130,1538874289458,False,True,False,...,PH,00,quezon city,14.676041,121.043701,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,4724682771660800,18781111175537580,1539215568666,Asia/Manila,28800000.0,11343848,1538874289458,False,True,False,...,PH,00,makati,14.554729,121.024445,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,4724682771660800,1477540082628742048,1540120743010,Asia/Manila,28800000.0,13499724,1538874289458,False,True,False,...,PH,11,davao city,7.190708,125.455338,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,4724682771660800,8184875317380844086,1542671625528,Asia/Manila,28800000.0,32788010,1538874289458,False,True,False,...,PH,00,makati,14.554729,121.024445,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [4]:
sessions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6239836 entries, 0 to 6239835
Data columns (total 22 columns):
app_id                        int64
session_id                    int64
start_timestamp               int64
timezone                      object
timezone_offset               float64
previous_sessions_duration    int64
user_created_timestamp        int64
is_user_first_session         bool
is_session                    bool
is_developer                  bool
is_wau                        bool
is_mau                        bool
country                       object
region                        object
city                          object
latitude                      float64
longitude                     float64
locale                        object
os_name                       object
session_index                 int64
device_id                     object
user_id_hash                  object
dtypes: bool(5), float64(3), int64(6), object(8)
memory usage: 3.9 GB

In [ ]:
# load sessions.csv
sessions = pd.read_csv('../Data/sessions.csv')

# drop some rows and dolumns
sessions = sessions.dropna()
sessions = sessions[sessions['is_developer']==False]
sessions = sessions.drop(['app_id', 'is_developer', 'is_wau', 'is_mau'], axis=1)
sessions = sessions.reset_index(drop=True)

# change type
sessions['start_timestamp'] = sessions['start_timestamp'].astype(np.uint64)
sessions['timezone'] = sessions['timezone'].astype('category')
sessions['timezone_offset'] = sessions['timezone_offset'].astype(np.uint32)
sessions['previous_sessions_duration'] = sessions['previous_sessions_duration'].astype(np.uint32)
sessions['user_created_timestamp'] = sessions['user_created_timestamp'].astype(np.uint64)
sessions['is_user_first_session'] = sessions['is_user_first_session'].astype('bool')
sessions['is_session'] = sessions['is_session'].astype('bool')
sessions['country'] = sessions['country'].astype('category')
sessions['region'] = sessions['region'].astype('category')
sessions['city'] = sessions['city'].astype('category')
sessions['latitude'] = sessions['latitude'].astype(np.float32)
sessions['longitude'] = sessions['longitude'].astype(np.float32)
sessions['locale'] = sessions['locale'].astype('category')
sessions['os_name'] = sessions['os_name'].astype('category')
sessions['session_index'] = sessions['session_index'].astype(np.uint16)

# save into pickle
pickle.dump(sessions, open("../Data/sessions.pkl", "wb"))

In [5]:
sessions = sessions.dropna()

In [6]:
sessions = sessions[sessions['is_developer']==False]

In [7]:
sessions = sessions.drop(['app_id', 'is_developer', 'is_wau', 'is_mau'], axis=1)

In [8]:
sessions = sessions.reset_index(drop=True)

In [9]:
len(sessions)

6199336

In [10]:
sessions.head()

,session_id,start_timestamp,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,is_session,country,region,city,latitude,longitude,locale,os_name,session_index,device_id,user_id_hash
0,5558845121177764917,1542215364580,Asia/Manila,28800000.0,25837591,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1543712977293,Asia/Manila,28800000.0,35050130,1538874289458,False,True,PH,00,quezon city,14.676041,121.043701,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,18781111175537580,1539215568666,Asia/Manila,28800000.0,11343848,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,1477540082628742048,1540120743010,Asia/Manila,28800000.0,13499724,1538874289458,False,True,PH,11,davao city,7.190708,125.455338,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,8184875317380844086,1542671625528,Asia/Manila,28800000.0,32788010,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [11]:
# sessions['session_id'] = sessions['session_id'].astype('category')
sessions['start_timestamp'] = sessions['start_timestamp'].astype(np.uint64)
sessions['timezone'] = sessions['timezone'].astype('category')
sessions['timezone_offset'] = sessions['timezone_offset'].astype(np.uint32)
sessions['previous_sessions_duration'] = sessions['previous_sessions_duration'].astype(np.uint32)
sessions['user_created_timestamp'] = sessions['user_created_timestamp'].astype(np.uint64)
sessions['is_user_first_session'] = sessions['is_user_first_session'].astype('bool')
sessions['is_session'] = sessions['is_session'].astype('bool')
sessions['country'] = sessions['country'].astype('category')
sessions['region'] = sessions['region'].astype('category')
sessions['city'] = sessions['city'].astype('category')
sessions['latitude'] = sessions['latitude'].astype(np.float32)
sessions['longitude'] = sessions['longitude'].astype(np.float32)
sessions['locale'] = sessions['locale'].astype('category')
sessions['os_name'] = sessions['os_name'].astype('category')
sessions['session_index'] = sessions['session_index'].astype(np.uint16)
# sessions['device_id'] = sessions['device_id'].astype('category')
# sessions['user_id_hash'] = sessions['user_id_hash'].astype('category')

In [12]:
sessions.head()

,session_id,start_timestamp,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,is_session,country,region,city,latitude,longitude,locale,os_name,session_index,device_id,user_id_hash
0,5558845121177764917,1542215364580,Asia/Manila,28800000,25837591,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1543712977293,Asia/Manila,28800000,35050130,1538874289458,False,True,PH,00,quezon city,14.676041,121.043701,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,18781111175537580,1539215568666,Asia/Manila,28800000,11343848,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,1477540082628742048,1540120743010,Asia/Manila,28800000,13499724,1538874289458,False,True,PH,11,davao city,7.190708,125.455338,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,8184875317380844086,1542671625528,Asia/Manila,28800000,32788010,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [13]:
sessions.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6199336 entries, 0 to 6199335
Data columns (total 18 columns):
session_id                    int64
start_timestamp               uint64
timezone                      category
timezone_offset               uint32
previous_sessions_duration    uint32
user_created_timestamp        uint64
is_user_first_session         bool
is_session                    bool
country                       category
region                        category
city                          category
latitude                      float32
longitude                     float32
locale                        category
os_name                       category
session_index                 uint16
device_id                     object
user_id_hash                  object
dtypes: bool(2), category(6), float32(2), int64(1), object(2), uint16(1), uint32(2), uint64(2)
memory usage: 1.6 GB

In [14]:
pickle.dump(sessions, open("../Data/sessions.pkl", "wb"))

In [15]:
s = pickle.load(open('../Data/sessions.pkl', 'rb'))

In [16]:
s.head()

,session_id,start_timestamp,timezone,timezone_offset,previous_sessions_duration,user_created_timestamp,is_user_first_session,is_session,country,region,city,latitude,longitude,locale,os_name,session_index,device_id,user_id_hash
0,5558845121177764917,1542215364580,Asia/Manila,28800000,25837591,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,30,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,2201961907282901522,1543712977293,Asia/Manila,28800000,35050130,1538874289458,False,True,PH,00,quezon city,14.676041,121.043701,en_GB,Android OS,47,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,18781111175537580,1539215568666,Asia/Manila,28800000,11343848,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,10,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,1477540082628742048,1540120743010,Asia/Manila,28800000,13499724,1538874289458,False,True,PH,11,davao city,7.190708,125.455338,en_GB,Android OS,13,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,8184875317380844086,1542671625528,Asia/Manila,28800000,32788010,1538874289458,False,True,PH,00,makati,14.554729,121.024445,en_GB,Android OS,41,546a3d98-d540-4e72-ad82-9ebd64e0839b,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [17]:
s.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6199336 entries, 0 to 6199335
Data columns (total 18 columns):
session_id                    int64
start_timestamp               uint64
timezone                      category
timezone_offset               uint32
previous_sessions_duration    uint32
user_created_timestamp        uint64
is_user_first_session         bool
is_session                    bool
country                       category
region                        category
city                          category
latitude                      float32
longitude                     float32
locale                        category
os_name                       category
session_index                 uint16
device_id                     object
user_id_hash                  object
dtypes: bool(2), category(6), float32(2), int64(1), object(2), uint16(1), uint32(2), uint64(2)
memory usage: 1.6 GB

## events

In [18]:
events = pd.read_csv('../Data/events.csv')

In [19]:
events.head()

,app_id,session_id,event,event_timestamp,event_value,user_id_hash
0,4724682771660800,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,4724682771660800,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,4724682771660800,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,4724682771660800,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,4724682771660800,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [20]:
events.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111946597 entries, 0 to 111946596
Data columns (total 6 columns):
app_id             int64
session_id         int64
event              object
event_timestamp    int64
event_value        float64
user_id_hash       object
dtypes: float64(1), int64(3), object(2)
memory usage: 22.3 GB

In [21]:
events = events.drop('app_id', axis=1)

In [26]:
# events['session_id'] = events['session_id'].astype(np.uint32)
# events['event'] = events['event'].astype('category')
# events['event_timestamp'] = events['event_timestamp'].astype(np.uint64)
# events['event_value'] = events['event_value'].astype(np.float16)
# # events['user_id_hash'] = events['user_id_hash'].astype('category')

In [23]:
events = events.dropna()
events = events.reset_index(drop=True)

In [27]:
events.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111946534 entries, 0 to 111946533
Data columns (total 5 columns):
session_id         uint32
event              category
event_timestamp    uint64
event_value        float16
user_id_hash       object
dtypes: category(1), float16(1), object(1), uint32(1), uint64(1)
memory usage: 14.2 GB

In [25]:
events.head()

,session_id,event,event_timestamp,event_value,user_id_hash
0,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [136]:
len(events)/2

55973267.0

In [146]:
event1 = events.iloc[:55973267]

In [147]:
event2 = events.iloc[55973267:]

In [148]:
# pickle can't handle size over 2G, so dump into 2 files
event1.to_pickle('../Data/event1.pkl')
event2.to_pickle('../Data/event2.pkl')

In [149]:
# this is how we read events
e1 = pickle.load(open('../Data/event1.pkl', 'rb'))
e2 = pickle.load(open('../Data/event2.pkl', 'rb'))
ev = pd.concat([e1, e2])

In [151]:
ev.head()

,session_id,event,event_timestamp,event_value,user_id_hash
0,5558845121177764917,45,1542215397132,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
1,5558845121177764917,45,1542215484895,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
2,7689508378645584666,.m5100869650219008,1541124410372,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
3,2201961907282901522,4,1543713091129,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...
4,2201961907282901522,6,1543713093116,0.0,9943447915df3a45fd6720a026af905b6da6b56a37701b...

In [152]:
ev.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111946534 entries, 0 to 111946533
Data columns (total 5 columns):
session_id         category
event              category
event_timestamp    uint64
event_value        float16
user_id_hash       category
dtypes: category(3), float16(1), uint64(1)
memory usage: 2.3 GB